:root {
  --background: rgba(27, 27, 27, 0.75);
  --text: #cccccc;
  --hover-text: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: "Roboto-Black";
  src: url("../fonts/Roboto-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}

body {
  font-family: "Roboto", sans-serif;
  background: #222222;
  font-weight: 400;
  color: #cccccc;
}

#header {
  text-align: center;
  background: var(--background);
  position: fixed;
  z-index: 999;
  width: 100%;
  max-height: 10vh;
}

#header-img {
  height: 100%;
}

.logo {
  font-family: "Roboto-Black", sans-serif;
  text-decoration: none;
  color: var(--text);
}

.logo:hover {
  color: var(--hover-text);
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  width: 100%;
  background: var(--background);
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: var(--text);
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: var(--hover-text);
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: var(--text);
  width: 2em;
  height: 2px;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

#header-img {
  width: 100%;
}

main {
  height: 200vh;
}

video {
  width: 100%;
}

@media screen and (min-width: 786px) {
  .nav-toggle-label {
    display: none;
  }

  #header {
    display: grid;
    grid-template-columns: 1fr auto minmax(550px, 3fr) 1fr;
  }

  .logo {
    grid-column: 2 / 3;
  }

  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
    font-size: 1em;
  }

  nav a::before {
    content: "";
    display: block;
    height: 2px;
    background: var(--hover-text);
    position: absolute;
    top: -0.15em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }
}
